# Obsidianの内部キャッシュや作業状態を無視
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/cache/
.obsidian/plugins/recent-files-obsidian/data.json
.trash/
.stversions/
__pycache__/

# OSが生成するゴミファイル
.DS_Store




# Ignore Smart Environment folder
.smart-env
